<a href="https://colab.research.google.com/github/klettermi/Python/blob/main/Python_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON 기본 사용법

## 단축키


*   실행: ctrl + enter
*   실행 및 셀 넘어감: shift + enter
*   실행 및 아래 셀 추가: shift + enter
*   셀 추가: 위 - esc + a, 아래 - esc + b
*   셀 삭제: esc + x, dd
*   주석: ctrl + /

## 기본 입출력

In [ ]:
# 입력 input
ans = input("이름은?")
print("입력값: ", ans)

이름은?장미
입력값:  장미

In [ ]:
# 출력 print
name = "장미"
age = 27

# 변수 출력
print("1.", name, age)

# 변수 사이클 "_"로 연결
print("2.", name, age, sep="_")

# 변수 출력 후 줄넘김 없이 공백으로 연결
print("3.", name, age, sep=" ")
print(name, age)

1. 장미 27
2._장미_27
3. 장미 27
장미 27

## Data Type

> 숫자형(Numeric)
*   정수(Integer)
*   실수(Real Number)
*   복소수(Complex Number)
*   불리언(Boolean)


> 시퀀스(Sequence)
*   문자열(String)
*   리스트(List)
*   튜플(Tuple)

> 셋(Set)
*   셋(Set)

> 매핑(Mapping)
*   사전(Dictionary)

## 숫자형(Numeric)

### 정수(Integer)

In [ ]:
# python은 계산 크기의 제한이 없음.
a = 10000
b = a*10000*1000*1000
print(b*b)

10000000000000000000000000000

In [ ]:
# 10진수
j10 = 100 # 10진수
print("10진수: ", j10, "타입: ", type(j10))

# 2진수
j2 = 0b110 # 2진수
print("2진수: ", j2, "타입: ", type(j2))

# 8진수
j8 = 0o11 # 8진수
print("8진수: ", j8, "타입: ", type(j8))

# 16진수
j16_1 = 0x11 # 16진수
j16_2 = 0x9abcdef
print("16진수: ", j16_1, j16_2, "타입: ", type(j16_1), sep = ' ')

10진수:  100 타입:  <class 'int'>
2진수:  6 타입:  <class 'int'>
8진수:  9 타입:  <class 'int'>
16진수:  17 162254319 타입:  <class 'int'>

### 실수(Real Number)

In [ ]:
# 실수
a = 1.0
print("실수: ", a, "타입: ", type(a))

b = 10.0
print("실수: ", b, "타입: ", type(b))

실수:  1.0 타입:  <class 'float'>
실수:  10.0 타입:  <class 'float'>

### 복소수(Complex Number)

In [ ]:
# 복소수
a = 2 + 3j
print("복소수: ", a, "타입: ", type(a))

b = 5 + 10j
print("복소수: ", b, "타입: ", type(b))

복소수:  (2+3j) 타입:  <class 'complex'>
복소수:  (5+10j) 타입:  <class 'complex'>

### 불리언(Boolean)

In [ ]:
# 불리언
a = True
print("불리언: ", a, "/ 타입: ", type(a), " / 1: ", bool(1))

b = False
print("불리언: ", b, "/ 타입: ", type(b), " / 1: ", bool(0))
print()

# 불리언의 거짓 상황
print("불리언의 거짓 상황")
print(bool(None), end = ' ')
print(bool(False), end = ' ')
print(bool(0), end = ' ')
print(bool(set()), end = ' ')
print(bool(list()), end = ' ')
print(bool(dict()), end = ' ')
print(bool(""), end = ' ')
print()
print()

# 불리언의 참 상황
print("실수의 값은: ", bool(3.1))
print("공백의 값은: ", bool(" "))

불리언:  True / 타입:  <class 'bool'>  / 1:  True
불리언:  False / 타입:  <class 'bool'>  / 1:  False

불리언의 거짓 상황
False False False False False False False

실수의 값은:  True
공백의 값은:  True

### 숫자형 타입 변경

In [ ]:
# 숫자형 타입 변경
# 정수 -> 실수, 실수 -> 정수
print(77, type(77), "->", float(77), type(float(77))) # int -> float
print(3.14, type(3.14), "->", int(3.14), type(int(3.14))) # float -> int
print()

# 정수 -> 불리언, 불리언 -> 정수
print(True, type(True), "->", int(True), type(int(True))) # bool -> int
print(0, type(0), "->", bool(0), type(bool(0))) # int -> bool
print()

77 <class 'int'> -> 77.0 <class 'float'>
3.14 <class 'float'> -> 3 <class 'int'>

True <class 'bool'> -> 1 <class 'int'>
0 <class 'int'> -> False <class 'bool'>

### 연산자


*   산술 연산자: +, -, /, %, // 등
*   비교 연산자: >, <, >=, <=, != 등
*   논리 연산자: or, and, not 등

In [ ]:
# 산술 연산자
print("덧셈: ", 10+2, " / ", end = " ") # 덧셈
print("뺄셈: ", 10-2, " / ", end = " ") # 뺄셈
print("곱하기: ", 10*2, " / ", end = " ") # 곱하기
print("나누기: ", 10/3, " / ", end = " ") # 나누기
print()

print("몫: ", 10//3, " / ", end = " ") # 몫
print("나머지: ", 10%3, " / ", end = " ") # 나머지
print("몫과 나머지: ", divmod(10,3)) # 몫, 나머지
print()

print("절댓값: ", abs(-9), " / ", end = " ") # 절댓값
print("거듭제곱: ", 10**2, " / ", end = " ") # 거듭제곱
print("거듭제곱: ", pow(10,2)) # 거듭제곱
print()

print("정수로 변환: ", int(10.5), " / ", end = " ") # 정수로 변환
print("실수로 변환: ", float(10)) # 실수로 변환
print()

print("복소수: ", complex(10,2), " / ", end = " ")  # 복소수
print("양수: ", +10, " / ", end = " ")  # 양수
print("음수: ", -10, " / ", end = " ")  # 음수

덧셈:  12  /  뺄셈:  8  /  곱하기:  20  /  나누기:  3.3333333333333335  /
몫:  3  /  나머지:  1  /  몫과 나머지:  (3, 1)

절댓값:  9  /  거듭제곱:  100  /  거듭제곱:  100

정수로 변환:  10  /  실수로 변환:  10.0

복소수:  (10+2j)  /  양수:  10  /  음수:  -10  /

In [ ]:
# 산술 연산자 예시
# 날짜값에서 년, 월, 일 추출
today = 20230421
print("today: ", today)

year = today // 10000
month = today % 10000 // 100
day = today % 10000 % 100

print("year: ", year)
print("month: ", month)
print("day: ", day)

today:  20230421
year:  2023
month:  4
day:  21

In [ ]:
# 비교 연산자
print("7 < 3 ", 7<3)  # 작은
print("7 <= 3 ", 7<=3)  # 작거나 같은
print("7 > 3 ", 7>3)  # 큰
print("7 >= 3 ", 7>=3)  # 크거나 같은
print("7 == 3 ", 7==3)  # 같은
print("7 != 3 ", 7!=3)  # 같지 않은
print("7 is 3 ", 7 is 3)   # 같은 객체
print("7 is not 3 ", 7 is not 3)  # 같은 객체 아님

7 < 3  False
7 <= 3  False
7 > 3  True
7 >= 3  True
7 == 3  False
7 != 3  True
7 is 3  False
7 is not 3  True

<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-19-3cbf62f330cb>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print("7 is 3 ", 7 is 3)   # 같은 객체
<ipython-input-19-3cbf62f330cb>:9: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print("7 is not 3 ", 7 is not 3)  # 같은 객체 아님

In [ ]:
# 논리 연산자
a = True
b = False

print("a or b: ", a or b) # a 또는 b 중 하나만 참
print("a and b: ", a and b) # a,b 둘 다 참
print("not a: ", not a) # a가 거짓이면 참
print("not b: ", not b) # b가 거짓이면 참

a or b:  True
a and b:  False
not a:  False
not b:  True

## 시퀀스(Sequence)

### 문자열(String)

#### 문자열 생성

In [ ]:
# 큰 따옴표("") / 작은 따옴표('') 사용
print("큰 따옴표(\"\") 사용: ", "hello python")
print("작은 따옴표('') 사용: ", 'hello python')

큰 따옴표("") 사용:  hello python
작은 따옴표('') 사용:  hello python

In [ ]:
# 여러 줄에 걸친 문자열 생성

# \ 입력은 여러 줄에 걸쳐 있으나 출력은 한 줄로 연결
poem1 = "아무 계획이 없어서 완벽한 plan \
우연히 찾아낸 secret place"
print("\ 사용:", poem1)
print()

# """ """ 입력과 출력 모두 여러줄 가능
poem2 = """ 잊지마 넌 흐린 어둠 사이 왼손으로 그린 별 하나
보이니 그 유일함이 얼마나 아름다운지 말야 """
print('""" """사용: ', poem2)

\ 사용: 아무 계획이 없어서 완벽한 plan 우연히 찾아낸 secret place

""" """사용:   잊지마 넌 흐린 어둠 사이 왼손으로 그린 별 하나
보이니 그 유일함이 얼마나 아름다운지 말야

In [ ]:
# 문자열 연산을 통한 생성
print("덧셈(+) 사용: ", "py" + "thon")  # 덧셈
print("곱셈(*) 사용: ", "py" * 3) # 곱셈

덧셈(+) 사용:  python
곱셈(*) 사용:  pypypy

#### 인덱싱 및 슬라이싱

In [ ]:
# 문자열 인덱싱
print("python의 0번째: ", 'python'[0])
print("python의 5번째: ", 'python'[5])
print("python의 -1번째: ", 'python'[-1])
print("python의 -3번째: ", 'python'[-3])

python의 0번째:  p
python의 5번째:  n
python의 -1번째:  n
python의 -3번째:  h

In [ ]:
# 문자열 슬라이싱
# [시작:끝]에서 끝 번호는 포함하지 않음
print("python 문자열 슬라이싱")
print()

print("[1:4]는 1~3: ", 'python'[1:4]) # 1~3까지 추출, 4번 제외
print("[1:]는 1~5: ", 'python'[1:]) # 1부터 끝까지 추출
print("[:3]는 0~2: ", 'python'[:3]) # 0~2번까지 추출, 3번의 제외
print()

print("[0:6:2]는 0~5, +2: ", 'python'[0:6:2]) # 0~5까지 2씩 증가하여 추출
print("[0::2]는 0~5, +2: ", 'python'[0::2]) # 0~5까지 2씩 증가하여 추출
print()

print("[::-1]는 역순: ", 'python'[::-1])  # 5~0까지 추출
print("[:0:-1]는 맨 앞 제외: ", 'python'[:0:-1])  # 5~1까지 추출, 0번 제외
print("[0::-1]는 맨 앞만 추출: ", 'python'[0::-1])  # 0번만 추출

python 문자열 슬라이싱

[1:4]는 1~3:  yth
[1:]는 1~5:  ython
[:3]는 0~2:  pyt

[0:6:2]는 0~5, +2:  pto
[0::2]는 0~5, +2:  pto

[::-1]는 역순:  nohtyp
[:0:-1]는 맨 앞 제외:  nohty
[0::-1]는 맨 앞만 추출:  p

In [ ]:
# 연습문제
# Q1. 문자열 "210101-1234567"을 인덱싱하여 성별을 나타내는 숫자를 출력하시오.
str1 = "210101-1234567"
sex = str1[7]
print("성별을 나타내는 숫자: ", sex)

# Q2 문자열 "20210101Sunny"을 슬라이싱하여 날짜는 date 변수에 날씨는 weather 변수에 저장 후 출력하시오.
str2 = "20210101Sunny"
date = str2[:8]
weather = str2[8:]
print("날짜: ", date)
print("날씨: ", weather)

성별을 나타내는 숫자:  1
날짜:  20210101
날씨:  Sunny

#### 문자열 포맷핑

In [ ]:
# 방법1: % 이용
# %s 문자열, %d 정수, %f 부동소수, %c 문자 1개
name = "장미"
age = 27 

print("%s name은 %d age살: ", "%s은 %d살" %(name, age))
print("%s name은 %s age살: ", "%s은 %s살" %(name, age))

%s name은 %d age살:  장미은 27살
%s name은 %s age살:  장미은 27살

In [ ]:
# 방법2: .format 이용
name = "장미"
age = 27 

print("{name}은 {age}살: ", "{}은 {}살".format(name, age)) # 순서에 맞게 변수 값이 입력됨
print("{1 age}살 {0 name}: ", "{1}살 {0}".format(name, age))  # 번호를 이용하여 변수값 순서 변경 가능

{name}은 {age}살:  장미은 27살
{1 age}살 {0 name}:  27살 장미

In [ ]:
# 방법3: f" " 이용
# 변수의 연산이 가능함
name = "장미"
age = 27 

print("f{name}은 {age}살 {2023-age+1}년생: ", f"{name}은 {age}살 {2023-age+1}년생") # 변수와 스칼라의 연산 가능
print("f{name} 이름의 길이는 {len(name)}: ", f"{name} 이름의 길이는 {len(name)}") # 변수에 함수 연산 가능

f{name}은 {age}살 {2023-age}년생:  장미은 27살 1997년생
f{name} 이름의 길이는 {len(name)}:  장미 이름의 길이는 2

#### 문자열 함수

In [ ]:
# 문자열 함수1: len, join, split, strip

# len: 문자열 길이
print("len: ", len("장미"))

# join: 문다열 합치기
a = ["python", "sql"]
print("join: ", " ".join(a))

# split: 문자열 분리하기
print("split: ", "python sql".split(" "))

# strip: 문자열 앞/뒤 공백 제거
print("before: ", [" abc def "], "->", "strip: ", [" abc def ".strip()])

len:  2
join:  python sql
split:  ['python', 'sql']
before:  [' abc def '] -> strip:  ['abc def']

In [ ]:
# 문자열 함수2: isalnum, isalpha, isdecimal, isspace, istitle

# isalnum: 알파벳, 숫자 여부
print("장미".isalnum())

# isalpha: 알파벳 여부
print("장미".isalpha())

# isdecimal: 숫자 여부
print("1234".isdecimal())

# isspace: space, tab, enter 여부
print(" ".isspace())

# istitle: 모든 단어의 첫 글자만 대문자 여부
print("Aaa".istitle())
print("aaa".istitle())
print("Aaa aaa".istitle())
print("Aaa Bbb".istitle())

True
True
True
True
True
False
False
True

In [ ]:
# 문자열 함수3: index, startswith, endswith

# index(값): 해당 값이 몇 번째 인덱스에 있는가? 인덱스 값 출력
print("장미".index("미"))

# index(값, 인덱스번호): n번째 위치에서 값1을 찾아라
print("장미파이썬".index("이", 1))

# startswith(값): 값으로 시작하는가?
# 하나의 string으로 인지함
print("장미 김미".startswith("장"))
print("김미 장미".startswith("장"))

# endswith(값): 값으로 끝나는가?
print("장미 김미".endswith("미"))
print("장미 김어".endswith("미"))

1
3
True
False
True
False

### 리스트(List)



*   점검하거나 기억하기 쉽도록 특별한 순서로 적어놓은 것
*   데이터들을 잘 관리할 수 있도록 순서를 정해서 관리하는 데이터 타입

In [ ]:
# 리스트 생성
a = list()
a = []
b = [1, 2, 3]
c = ['Life', 'ls', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

#### 리스트의 인덱싱

In [ ]:
a = [1, 2, 3]
a

[1, 2, 3]

In [ ]:
print("a[0]: ", a[0])
print("a[0] + a[2]: ", a[0] + a[2])
print("a[-1]: ", a[-1])

a[0]:  1
a[0] + a[2]:  4
a[-1]:  3

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]

print("a[0]: ", a[0])
print("a[-1]: ", a[-1])
print("a[3]: ", a[3])
print("a[-1][0]: ", a[-1][0])
print("a[-1][1]: ", a[-1][1])
print("a[-1][2]: ", a[-1][2])

a[0]:  1
a[-1]:  ['a', 'b', 'c']
a[3]:  ['a', 'b', 'c']
a[-1][0]:  a
a[-1][1]:  b
a[-1][2]:  c

#### 리시트의 슬라이싱

In [ ]:
# 리스트 슬라이싱
# [시작:끝]에서 끝 번호는 포함하지 않음
print("python 리스트 슬라이싱")
print()

a = [1, 2, 3, 4, 5, 6]

print("[1:4]는 1~3: ", a[1:4]) # 1~3까지 추출, 4번 제외
print("[1:]는 1~5: ", a[1:]) # 1부터 끝까지 추출
print("[:3]는 0~2: ", a[:3]) # 0~2번까지 추출, 3번의 제외
print()

print("[0:6:2]는 0~5, +2: ", a[0:6:2]) # 0~5까지 2씩 증가하여 추출
print("[0::2]는 0~5, +2: ", a[0::2]) # 0~5까지 2씩 증가하여 추출
print()

print("[::-1]는 역순: ", a[::-1])  # 5~0까지 추출
print("[:0:-1]는 맨 앞 제외: ", a[:0:-1])  # 5~1까지 추출, 0번 제외
print("[0::-1]는 맨 앞만 추출: ", a[0::-1])  # 0번만 추출

python 리스트 슬라이싱

[1:4]는 1~3:  [2, 3, 4]
[1:]는 1~5:  [2, 3, 4, 5, 6]
[:3]는 0~2:  [1, 2, 3]

[0:6:2]는 0~5, +2:  [1, 3, 5]
[0::2]는 0~5, +2:  [1, 3, 5]

[::-1]는 역순:  [6, 5, 4, 3, 2, 1]
[:0:-1]는 맨 앞 제외:  [6, 5, 4, 3, 2]
[0::-1]는 맨 앞만 추출:  [1]

#### 리스트 연산하기

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

print("a + b: ", a+b) # 리스트 더하기
print("a * 3: ", a*3) # 리스트 반복하기

# print("a[2] + \"hi\"", a[2]+"hi") # ERROR 발생, 같은 형이 아니라 형 오류 발생
print("a[2] + \"hi\": ", str(a[2])+"hi")

a + b:  [1, 2, 3, 4, 5, 6]
a * 3:  [1, 2, 3, 1, 2, 3, 1, 2, 3]
a[2] + "hi":  3hi

#### 리스트 길이 구하기

In [ ]:
a = [1, 2, 3]
print("a의 길이는: ", len(a))

a의 길이는:  3

#### 리스트의 수정과 삭제

In [ ]:
# 리스트에서 값 수정하기
a = [1, 2, 3]
a[2] = 4
print("a: ", a)

a:  [1, 2, 4]

In [ ]:
# del 함수 사용해 리스트 요소 삭제하기
a = [1, 2, 3]
del a[1]
print("a: ", a)

b = [1, 2, 3, 4, 5]
del b[:3]
print("b: ", b)

a:  [1, 3]
b:  [4, 5]

#### 리스트 관련 함수들

In [ ]:
# 리스트에 요소 추가(append)
a = [1, 2, 3]
a.append(4)
print(f"a: {a}")

a.append([5, 6])
print(f"a: {a}")

a: [1, 2, 3, 4]
a: [1, 2, 3, 4, [5, 6]]

In [ ]:
# 리스트 정렬(sort)
a = [1, 4, 3, 2]
a.sort()
print("정렬된 리스트 a: ", a)

b = ['a', 'b', 'c']
b.sort()
print("정렬된 리스트 b: ", b)

정렬된 리스트 a:  [1, 2, 3, 4]
정렬된 리스트 b:  ['a', 'b', 'c']

In [ ]:
# 리스트 뒤집기(reverse)
a = ['a', 'c', 'b']
a.reverse()
print("뒤집은 리스트 a: ", a)

뒤집은 리스트 a:  ['b', 'c', 'a']

In [ ]:
# 리스트 인덱스 반환(index)
a = [1, 2, 3]
print("a의 값이 3인 인덱스 값 반환: ", a.index(3))
print("a의 값이 1인 인덱스 값 반환: ", a.index(1))
# print("a의 값이 0인 인덱스 값 반환: ", a.index(0)) # 값이 없는 인덱스를 찾으면 에러 발생

a의 값이 3인 인덱스 값 반환:  2
a의 값이 1인 인덱스 값 반환:  0

In [ ]:
# 리스트에 요소 삽입(insert)
a = [1, 2, 3]
a.insert(0,4) # 0번째 위치에 4를 삽입
print("0번째 위치에 4를 삽입한 리스트 a: ", a)

a.insert(3, 5)  # 3번째 위치에 5 삽입
print("3번째 위치에 5를 삽입한 리스트 a: ", a)

0번째 위치에 4를 삽입한 리스트 a:  [4, 1, 2, 3]
3번째 위치에 5를 삽입한 리스트 a:  [4, 1, 2, 5, 3]

In [ ]:
# 리스트 요소 제거(remove)
# remove(x): 리스트에서 첫 번째로 나오는 x 삭제
a = [1, 2, 3, 1, 2, 3]
a.remove(3) 
print("처음 나온 3을 삭제한 리스트 a: ",a)

처음 나온 3을 삭제한 리스트 a:  [1, 2, 1, 2, 3]

In [ ]:
# 리스트 요소 끄집어내기(pop)
a = [1, 2, 3]

print("a.pop(): ", a.pop()) # 맨 위에 값을 리턴 후 삭제
print("a: ", a)

b = [2, 3, 4, 5]
print("b.pop(1): ", b.pop(1)) # b[1]의 값을 끄집어내어 리턴
print("b: ", b)

a.pop():  3
a:  [1, 2]
b.pop(1):  3
b:  [2, 4, 5]

In [ ]:
# 리스트에 포함된 요소 x의 개수 세기(count)
a = [1, 2, 3, 1]
print("a 안에 1의 개수: ", a.count(1))

a 안에 1의 개수:  2

In [ ]:
# 리스트 확장(extend)
a = [1, 2, 3]
a.extend([4, 5])  # extend(x)의 x는 리스트만 올 수 있음
print("확장된 리스트 a: ", a)
b = [6, 7]
a.extend(b)
print("확장된 리스트 a: ", a)

확장된 리스트 a:  [1, 2, 3, 4, 5]
확장된 리스트 a:  [1, 2, 3, 4, 5, 6, 7]

### 튜플(Tuple)



*   셀 수 있는 수량의 순서있는 열거
*   튜플은 요소의 값을 바꿀 수 없음
*   중복 허용

In [ ]:
# 튜플 생성
t1 = ()
t2 = (1,) # 하나 생성 시 ,를 반드시 써 줘야함
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

In [ ]:
# 튜플 요솟값 삭제 > 불가능!
t1 = (1, 2, 'a', 'b')
# del t1[0] # 튜플 요솟값 삭제 불가능
# t1[0] = 'c' # 튜플 요솟값 수정 불가능

#### 튜플 인덱싱

In [ ]:
# 튜플 인덱싱
a = (1, 2, 3, 4, 5, 6)
print("a[0]: ", a[0])
print("a[0] + a[2]: ", a[0] + a[2])
print("a[-1]: ", a[-1])

a[0]:  1
a[0] + a[2]:  4
a[-1]:  6

#### 튜플 슬라이싱

In [ ]:
# 튜플 슬라이싱
# [시작:끝]에서 끝 번호는 포함하지 않음
print("python 튜플 슬라이싱")
print()

a = (1, 2, "b", 4, 5, "a")

print("[1:4]는 1~3: ", a[1:4]) # 1~3까지 추출, 4번 제외
print("[1:]는 1~5: ", a[1:]) # 1부터 끝까지 추출
print("[:3]는 0~2: ", a[:3]) # 0~2번까지 추출, 3번의 제외
print()

print("[0:6:2]는 0~5, +2: ", a[0:6:2]) # 0~5까지 2씩 증가하여 추출
print("[0::2]는 0~5, +2: ", a[0::2]) # 0~5까지 2씩 증가하여 추출
print()

print("[::-1]는 역순: ", a[::-1])  # 5~0까지 추출
print("[:0:-1]는 맨 앞 제외: ", a[:0:-1])  # 5~1까지 추출, 0번 제외
print("[0::-1]는 맨 앞만 추출: ", a[0::-1])  # 0번만 추출

python 튜플 슬라이싱

[1:4]는 1~3:  (2, 'b', 4)
[1:]는 1~5:  (2, 'b', 4, 5, 'a')
[:3]는 0~2:  (1, 2, 'b')

[0:6:2]는 0~5, +2:  (1, 'b', 5)
[0::2]는 0~5, +2:  (1, 'b', 5)

[::-1]는 역순:  ('a', 5, 4, 'b', 2, 1)
[:0:-1]는 맨 앞 제외:  ('a', 5, 4, 'b', 2)
[0::-1]는 맨 앞만 추출:  (1,)

#### 튜플 연산

In [ ]:
# 튜플 더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
print("t1 + t2: ", t3)

t1 + t2:  (1, 2, 'a', 'b', 3, 4)

In [ ]:
# 튜플 곱하기
t1 = (3, 4)
t2 = t1 * 3
print("t1 * 3: ", t2)

t1 * 3:  (3, 4, 3, 4, 3, 4)

#### 튜플 길이 구하기

In [ ]:
# 튜플 길이 구하기
t1 = (1, 2, 'a', 'b')
print("t1의 길이: ", len(t1))

t1의 길이:  4

## 셋(Set)

### 셋(Set)


*   집합에 관련된 것을 처리하기 위해 만들어진 자료형
*   중복을 허용하지 않음
*   순서 없음 > 인덱싱으로 값을 얻을 수 없음
*   인덱싱 접근을 윈하면 리스트 or 튜플로 변환 후 접근

#### 셋 생성

In [ ]:
# 셋 생성
s1 = set([1, 2, 3])
print("s1: ", s1)

s2 = set("Hello")
print("s2: ", s2)

s1:  {1, 2, 3}
s2:  {'H', 'o', 'e', 'l'}

#### 셋을 인덱스로 접근하는 방법

In [ ]:
s1 = set([1, 2, 3])
l1 = list(s1) # set을 list로 변환 
print("리스트로 변환한 셋 l1[0]: ", l1[0])

t1 = tuple(s1)
print("튜플로 변환한 셋 t1[0]: ", t1[0])

리스트로 변환한 셋 l1[0]:  1
튜플로 변환한 셋 t1[0]:  1

#### 교집합, 합집합, 차집합

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 교집합
print("s1과 s2의 교집합: ", s1 & s2)  # &
print("s1과 s2의 교집합: ", s1.intersection(s2))  # set1.intersection(set2)

# 합집합
print("s1과 s2의 합집합: ", s1 | s2)  # |
print("s1과 s2의 합집합: ", s1.union(s2)) # set1.union(set2)

# 차집합
print("s1과 s2의 차집합: ", s1 - s2) # -
print("s1과 s2의 차집합: ", s1.difference(s2)) # set1.difference(set2)

s1과 s2의 교집합:  {4, 5, 6}
s1과 s2의 교집합:  {4, 5, 6}
s1과 s2의 합집합:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
s1과 s2의 합집합:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
s1과 s2의 차집합:  {1, 2, 3}
s1과 s2의 차집합:  {1, 2, 3}

#### 집합 자료형 함수

In [ ]:
# 값 1개 추가하기 (add)
s1 = set([1, 2, 3])
s1.add(4)
print("s1: ", s1)

s1:  {1, 2, 3, 4}

In [ ]:
# 값 여러개 추가하기 (update)
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
print("s1: ", s1)

s1:  {1, 2, 3, 4, 5, 6}

In [ ]:
# 특정 값 제거하기 (remove)
s1 = set([1, 2, 3])
s1.remove(2) # 제거하고 싶은 값
print("2를 제거한 s1: ", s1)

2를 제거한 s1:  {1, 3}

## 매핑(Mapping)

### 사전 (Dictionary)


*   사전형 데이터
*   key, value로 구성

#### 딕셔너리 생성

In [ ]:
# 딕셔너리 생성 { 키1: 값1, 키2: 값2, ...}
dic = {'name': 'mi', 'phone': '010-9999-1234', 'birth': '1114'}
a = {1: 'hi'}
b = {'a': [1, 2, 3]}

#### 딕셔너리 쌍 추가, 삭제하기

In [ ]:
# 딕셔너리 쌍 추가하기
a = {1: 'a'}
a[2] = 'b'
print('dictionary a: ', a)

a['name'] = 'mi'
print('dictionary a: ', a)

a[3] = [1, 2, 3]
print('dictionary a: ', a)

dictionary a:  {1: 'a', 2: 'b'}
dictionary a:  {1: 'a', 2: 'b', 'name': 'mi'}
dictionary a:  {1: 'a', 2: 'b', 'name': 'mi', 3: [1, 2, 3]}

In [ ]:
# 딕셔너리 요소 삭제하기
del a[1]
print("dictionary a: ", a)

dictionary a:  {2: 'b', 'name': 'mi', 3: [1, 2, 3]}

#### Key를 사용해 Value 얻기

In [ ]:
# Key를 사용해 Value 얻기
# 딕셔너리명[key값]
grade = {'mi': 100, 'pey': 90, 'julliet': 80}
print("mi의 성적은: ", grade['mi'])

a = {'a':1, 'b':2}
print("key가 a인 value: ", a['a'])

mi의 성적은:  100
key가 a인 value:  1

#### 딕셔너리 만들 때 주의 사항

In [ ]:
# Key값이 중복되면 1개를 제외한 나머지가 무시됨
a = {1: 'a', 1: 'b'}
print("a[1]: ", a[1])

a[1]:  b

In [ ]:
# Key에는 리스트 사용 불가능
# a = {[1, 2]: 'hi'}

#### 딕셔너리 함수

In [ ]:
# Key 리스트 만들기(keys)
a = {'name': 'mi', 'phone': '010-9999-1234', 'birth': '1114'}
print("a의 Key들: ", a.keys())

# dict_keys 사용은 리스트와 비슷하지만 append, insert, pop, remove, sort 함수는 수행 불가능
for k in a.keys():
  print(k)

# dict_keys 리스트로 변환하기
key_list = list(a.keys())
print("key_list: ", key_list)

a의 Key들:  dict_keys(['name', 'phone', 'birth'])
name
phone
birth
key_list:  ['name', 'phone', 'birth']

In [ ]:
# Value 리스트 만들기(values)
a = {'name': 'mi', 'phone': '010-9999-1234', 'birth': '1114'}
print("a의 Value들: ", a.values())

a의 Value들:  dict_values(['mi', '010-9999-1234', '1114'])

In [ ]:
# Key, Value 쌍 얻기(items)
a = {'name': 'mi', 'phone': '010-9999-1234', 'birth': '1114'}
print("a의 Item들: ", a.items())

a의 Item들:  dict_items([('name', 'mi'), ('phone', '010-9999-1234'), ('birth', '1114')])

In [ ]:
# Key: Value 쌍 모두 지우기(clear)
a = {'name': 'mi', 'phone': '010-9999-1234', 'birth': '1114'}
a.clear()
print("a: ", a)

a:  {}

In [ ]:
# Key로 Value얻기(get)
a = {'name': 'mi', 'phone': '010-9999-1234', 'birth': '1114'}
print("a.get('name'): ", a.get('name')) # key값이 name
print("a.get('phone'): ", a.get('phone')) # key값이 phone

print("a.get('ring'): ", a.get('ring')) # 없는 key를 찾으면 반환 값은 None
print("a.get('ring', 'NO'): ", a.get('ring', 'No')) # 없는 key ring을 찾으면 default값 No 반환

a.get('name'):  mi
a.get('phone'):  010-9999-1234
a.get('ring'):  None
a.get('ring', 'NO'):  No

In [ ]:
# 해당 Key가 딕셔너리 안에 있는지 조사하기(in)
a = {'name': 'mi', 'phone': '010-9999-1234', 'birth': '1114'}
print("'name' in a: ", 'name' in a)
print("'email' in a: ", 'email' in a)

'name' in a:  True
'email' in a:  False

## 제어문

### if문

#### if, if & else

In [ ]:
# 비교 연산자 사용 if문
money = 2000
if money >= 3000:
  print("택시를 타고 가라")
else:
  print("걸어가라")

걸어가라

In [ ]:
# and, or, not 사용 if문
money = 2000
card = True
if money >=3000 or card:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [ ]:
# in, not in
print("1 in [1, 2, 3]: ", 1 in [1, 2, 3])
print("1 not in [1, 2, 3]: ", 1 in [1, 2, 3])
print("'a' in ('a','b','c'): ",'a' in ('a','b','c'))
print("'j' not in 'python': ", 'j' not in 'python')

1 in [1, 2, 3]:  True
1 not in [1, 2, 3]:  True
'a' in ('a','b','c'):  True
 'j' not in 'python':  True

In [ ]:
# in, not in 사용 if문
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [ ]:
from IPython.core.events import post_run_cell
# pass 조건문에서 아무것도 하지 않게 설정
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
  pass
else:
  print("걸어가라")

#### elif

In [ ]:
# elif 사용 X
pocket = ['paper', 'handphone']
card = True
if 'money' in pocket:
  print("택시를 타고 가라")
else:
  if card:
    print("택시를 타고 가라")
  else:
    print("걸어가라")

택시를 타고 가라

In [ ]:
# elif 사용 
pocket = ['paper', 'handphone']
card = True
if 'money' in pocket:
  print("택시를 타고 가라")

elif card:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

### 조건부 표현식

In [ ]:
score = int(input("점수를 입력하세요"))
# if 사용
if score>=60:
  message = "success"
else:
  message = "failure"

print(message)

# 조건부 표현식
message = "success" if score>=60 else "failure"
print(message)

점수를 입력하세요80
success
success

### while
: 조건이 참일 동안 반복 수행

In [ ]:
# 열 번 찍어 안 넘어가는 나무 없다
treeHit = 0
while treeHit<10:
  treeHit += 1
  print("나무를 %d번 찍었습니다." %treeHit)
  if treeHit == 10:
    print("나무가 넘어갔습니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갔습니다.

In [ ]:
prompt = """
  1. Add
  2. Del
  3. List
  4. Quit

  Enter number: """

number = 0
while number != 4:
  print(prompt)
  number = int(input())

  1. Add
  2. Del
  3. List
  4. Quit

  Enter number:
1

  1. Add
  2. Del
  3. List
  4. Quit

  Enter number:
4

#### break
: while문 강제 종료

In [ ]:
# 커피 자판기
coffee = 10
money = 300

while money:
  print("돈을 받았습니다.")
  coffee -= 1
  print("남은 커피 수는 %d개 입니다." %coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

돈을 받았습니다.
남은 커피 수는 9개 입니다.
돈을 받았습니다.
남은 커피 수는 8개 입니다.
돈을 받았습니다.
남은 커피 수는 7개 입니다.
돈을 받았습니다.
남은 커피 수는 6개 입니다.
돈을 받았습니다.
남은 커피 수는 5개 입니다.
돈을 받았습니다.
남은 커피 수는 4개 입니다.
돈을 받았습니다.
남은 커피 수는 3개 입니다.
돈을 받았습니다.
남은 커피 수는 2개 입니다.
돈을 받았습니다.
남은 커피 수는 1개 입니다.
돈을 받았습니다.
남은 커피 수는 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [ ]:
coffee = 10

while True:
  money = int(input("돈을 넣어주세요."))
  if money == 300:
    print("커피를 줍니다.")
    coffee -= 1
  elif money >= 300:
    print("거스름돈 %d를 주고 커피를 줍니다." %(money-300))
    coffee -= 1
  else:
    print("돈을 다시 돌려주고 커피를 주지 않습니다.")
    print("남은 커피의 양은 %d개 입니다." %coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

돈을 넣어주세요.300
커피를 줍니다.
돈을 넣어주세요.200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 9개 입니다.
돈을 넣어주세요.400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어주세요.500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어주세요.300
커피를 줍니다.
돈을 넣어주세요.300
커피를 줍니다.
돈을 넣어주세요.300
커피를 줍니다.
돈을 넣어주세요.300
커피를 줍니다.
돈을 넣어주세요.300
커피를 줍니다.
돈을 넣어주세요.300
커피를 줍니다.
돈을 넣어주세요.300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

#### continue
: while문의 맨 처음으로 돌아가기

In [ ]:
a = 0
while a<10:
  a += 1
  if a%2 == 0: continue
  print(a)

1
3
5
7
9

#### 무한루프

In [ ]:
# while True:
#   print("Ctrl+c를 눌러야 while문을 빠져나갈 수 있습니다.")

### for문

In [ ]:
# 전형적인 for문
test_list = ['one', 'two', 'three']
for i in test_list:
  print(i)

one
two
three

In [ ]:
# 다양한 for문의 사용
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a:
  print(first+last)

3
7
11

In [ ]:
# 총 5명의 학생이 시험을 보았는데 시험 점수가 60점 이상이면 합격이고 아니면 불합격이다. 합격인지 불합격인지 결과를 보여주시오.
marks = [90, 25, 67, 45, 80]

for i in range(len(marks)):
  result = "합격" if marks[i]>=60 else "불합격"
  print(f"{i+1}번째 학생은 {result}입니다.")

1번째 학생은 합격입니다.
2번째 학생은 불합격입니다.
3번째 학생은 합격입니다.
4번째 학생은 불합격입니다.
5번째 학생은 합격입니다.

#### continue
: for문 맨 처음으로 돌아감

In [ ]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
  number += 1
  if mark < 60:
    continue
  print("%d번 학생 축하합니다. 합격입니다." %number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

#### range
: range(값1, 값2), 값2는 포함되지 않음

In [ ]:
# 10까지 더한 값 출력
add = 0
for i in range(1, 11):
  add += i
print(add)

55

In [ ]:
marks = [90, 25, 67, 45, 80]

for i in range(len(marks)):
  if marks[i] < 60:
    continue
  print("%d번 학생 축하합니다. 합격입니다." %(i+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
# 구구단
for i in range(2, 10):
  for j in range(1, 10):
    print(f"{i} * {j} = {i*j}", end = ' ')
  print()

2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

#### 리스트 커프리헨션 사용하기
: [표현식 for 항목 in 반복가능객체 if 조건문]

In [ ]:
# 3 곱한 결과값 리스트 만들기
a = [1, 2, 3, 4]
result = []
for num in a:
  result.append(num*3)
print(result)

[3, 6, 9, 12]

In [ ]:
# 리스트 커프리헨션 사용
a = [1, 2, 3, 4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [ ]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [ ]:
# 구구단
result = [x * y for x in range(2,10)
                for y in range(2, 10)]
print(result)

[4, 6, 8, 10, 12, 14, 16, 18, 6, 9, 12, 15, 18, 21, 24, 27, 8, 12, 16, 20, 24, 28, 32, 36, 10, 15, 20, 25, 30, 35, 40, 45, 12, 18, 24, 30, 36, 42, 48, 54, 14, 21, 28, 35, 42, 49, 56, 63, 16, 24, 32, 40, 48, 56, 64, 72, 18, 27, 36, 45, 54, 63, 72, 81]

## 함수

In [ ]:
# 기본적인 함수
# 매개변수: 함수에 전달된 값을 저장하는 변수
# 인수: 함수에 전달하는 값
def add(a, b): # a, b는 매개변수
  return a + b

a = 3
b = 4 
c = add(a, b) # a, b는 인수
print(c)

7

In [ ]:
# 입력값이 없는 함수
def say():
  return 'Hi'

say()

'Hi'

In [ ]:
# return값이 없는 함수
def add(a, b):
  print(f"{a}와 {b}의 합은 {a+b}입니다.") 

a = add(3, 4)
print(a) # return값이 없기 때문에 None 출력

3와 4의 합은 7입니다.
None

In [ ]:
# 입력값도 return값도 없는 함수
def say():
  print('Hi')

say()

Hi

#### 매개변수 지정하여 호출하기

In [ ]:
# 매개변수 지정하여 호출하기
def sub(a, b):
  return a - b

result = sub(a=7, b=3)
print("sub(a=7, b=3): ", result)
result = sub(b=3, a=7)
print("sub(b=3, a=7): ", result)

sub(a=7, b=3):  4
sub(b=3, a=7):  4

#### 입력값의 갯수가 정해져 있지 않는 경우
: *

In [ ]:
# def 함수명(*매개변수): ...
def add_money(*args):
  result = 0
  for i in args:
    result += i 
  return result

result = add_money(100, 200, 300)
print(result)

result = add_money(0)
print(result)

600
0

In [ ]:
def add_mul(choice, *args):
  if choice == 'add':
    result = 0
    for i in args:
      result += i
  elif choice == 'mul':
    result = 1
    for i in args:
      result += i
  return result

print(f"입력값의 모든 합은 {add_mul('add',3, 4, 5)}")
print(f"입력값의 모든 곱은 {add_mul('mul',2, 4)}")

입력값의 모든 합은 12
입력값의 모든 곱은 7

#### 키워드 매개변수 kwargs
: ** 매개변수는 딕셔너리가 됨

In [ ]:
def print_kwargs(**kwargs):
  print(kwargs)

print_kwargs(a=1)
print_kwargs(name = 'mi', age = 3)

{'a': 1}
{'name': 'mi', 'age': 3}

#### return값은 무조건 하나

In [ ]:
def add_and_mul(a, b):
  return a+b, a*b # 두개의 값을 리턴하는 것이 아니라 리스트를 리턴함

result = add_and_mul(3, 4)
print(result)

add, mul = add_and_mul(3, 4)
print(f"덧셈의 결과는 {add}이고, 곱의 결과는 {mul}이다")

(7, 12)
덧셈의 결과는 7이고, 곱의 결과는 12이다

#### 함수를 빠져나가고 싶다면 return 단독 사용

In [ ]:
def say_nick(nick):
  if nick == "바보":
    return
  print("나의 별명은 %s입니다." %nick)

say_nick("바보")
say_nick("아르르르")

나의 별명은 아르르르입니다.

#### 매개변수에 초깃값 미리 설정하기

In [ ]:
def say_myself(name, age, man=True):
  print("나의 이름은 %s입니다." %name)
  print("나이는 %d살입니다." %age)
  if man:
    print("남자입니다.")
  else:
    print("여자입니다.")

say_myself("홍길동", 25)
print()
say_myself("홍길동", 25, True)
print()
say_myself("장미", 27, False)

나의 이름은 홍길동입니다.
나이는 25살입니다.
남자입니다.

나의 이름은 홍길동입니다.
나이는 25살입니다.
남자입니다.

나의 이름은 장미입니다.
나이는 27살입니다.
여자입니다.

#### 함수 안에서 함수 밖의 변수 변경

In [ ]:
# return 사용하기
a = 1
def vartest(a):
  a += 1
  return a

a = vartest(a)
print(a)

2

In [ ]:
# global 명령어 사용하기
# but 외부 변수에 종속적인 함수는 지양해야함
a = 1
def vartest():
  global a
  a += 1

vartest()
print(a)

2

#### lambda
: def와 동일

In [ ]:
# 함수명 = lambda 매개변수1, 매개변수2,...: 매개변수를 이용한 표현식
add = lambda a, b: a+b
result = add(3, 4)
print(result)

7

## 사용자 입력과 출력

### 사용자 입력
: input

In [1]:
# 프롬프트 띄어서 사용자 입력 받기
# input 입력은 무조건 문자열로 받음
number = input("숫자를 입력하세요: ")
print(number)

숫자를 입력하세요: 3
3

### print 자세히 알기

In [2]:
# 따옴표로 둘러싸인 문자열을 연속 사용 = + 연산
print("life""is""too short")
print("life"+"is"+"too short")

lifeistoo short
lifeistoo short

In [3]:
# 문자열 띄어쓰기 = , 사용
print("life","is","too short")

life is too short

In [4]:
# 한 줄에 결괏값 출력하기
for i in range(10):
  print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

### 파일 읽고 쓰기

#### 파일 생성하기

r: 읽기모드
w: 쓰기모드
a: 추가모드

In [5]:
f = open("새파일.txt", 'w')
f.close()

In [6]:
# 디렉터리 안에 생성 시
# 경로 표시 시 / 사용
# \ 사용 시 \\ 사용하거나 r"C:\~" 이런 식으로 사용해야 함.
# f = open("C:/doit/새파일.txt", 'w)
# f.close()

#### 파일을 쓰기 모드로 열어 내용 쓰기

In [7]:
f = open("새파일.txt", 'w')
for i in range(1, 11):
  data = "%d번쨰 줄입니다.\n" %i
  f.write(data)
f.close()

#### 파일을 읽는 여러가지 방법

In [8]:
# readline 함수 이용하기 - 한 줄 읽기
f = open("새파일.txt", 'r')
line = f.readline()
print(line)
f.close()

1번쨰 줄입니다.

In [9]:
# readline 함수 이용하기 - 모든 줄 읽기
f = open("새파일.txt", 'r')
while True:
  line = f.readline()
  if not line: break
  print(line)
f.close()

1번쨰 줄입니다.

2번쨰 줄입니다.

3번쨰 줄입니다.

4번쨰 줄입니다.

5번쨰 줄입니다.

6번쨰 줄입니다.

7번쨰 줄입니다.

8번쨰 줄입니다.

9번쨰 줄입니다.

10번쨰 줄입니다.

In [10]:
# readlines 함수 이용
f = open("새파일.txt", 'r')
lines = f.readlines()
for line in lines:
  print(line)
f.close()

1번쨰 줄입니다.

2번쨰 줄입니다.

3번쨰 줄입니다.

4번쨰 줄입니다.

5번쨰 줄입니다.

6번쨰 줄입니다.

7번쨰 줄입니다.

8번쨰 줄입니다.

9번쨰 줄입니다.

10번쨰 줄입니다.

In [12]:
# \n 문자 제거하기
# readlines 함수 이용
f = open("새파일.txt", 'r')
lines = f.readlines()
for line in lines:
  line = line.strip()
  print(line)
f.close()

1번쨰 줄입니다.
2번쨰 줄입니다.
3번쨰 줄입니다.
4번쨰 줄입니다.
5번쨰 줄입니다.
6번쨰 줄입니다.
7번쨰 줄입니다.
8번쨰 줄입니다.
9번쨰 줄입니다.
10번쨰 줄입니다.

In [11]:
# 궁금해서 해본 것
f = open("새파일.txt", 'r')
lines = f.readlines()
print(lines)

['1번쨰 줄입니다.\n', '2번쨰 줄입니다.\n', '3번쨰 줄입니다.\n', '4번쨰 줄입니다.\n', '5번쨰 줄입니다.\n', '6번쨰 줄입니다.\n', '7번쨰 줄입니다.\n', '8번쨰 줄입니다.\n', '9번쨰 줄입니다.\n', '10번쨰 줄입니다.\n']

In [13]:
# read 함수 사용
# readlines 함수 이용
f = open("새파일.txt", 'r')
data = f.read()
print(data)
f.close()

1번쨰 줄입니다.
2번쨰 줄입니다.
3번쨰 줄입니다.
4번쨰 줄입니다.
5번쨰 줄입니다.
6번쨰 줄입니다.
7번쨰 줄입니다.
8번쨰 줄입니다.
9번쨰 줄입니다.
10번쨰 줄입니다.

In [15]:
# 파일 객체를 for문과 함께 사용하기
# readlines 함수 이용
f = open("새파일.txt", 'r')
for line in f:
  print(line)
f.close()

1번쨰 줄입니다.

2번쨰 줄입니다.

3번쨰 줄입니다.

4번쨰 줄입니다.

5번쨰 줄입니다.

6번쨰 줄입니다.

7번쨰 줄입니다.

8번쨰 줄입니다.

9번쨰 줄입니다.

10번쨰 줄입니다.

#### 파일에 새로운 내용 추가하기

In [16]:
# adddata.py
f = open("새파일.txt", 'a')
for i in range(11, 20):
  data = "%d번째 줄입니다.\n" %i
  f.write(data)
f.close()

In [17]:
# with문과 함께 사용하기
# 파일을 열고 닫는 것 자동 처리
with open("foo.txt", "w") as f:
  f.write("Life is too short, you need python.")

### 프로그램의 입력과 출력

In [18]:
# sys 모듈을 사용하여 프로그램에 인수 전달
import sys 

args = sys.argv[1:]
for i in args:
  print(i)

-f
/root/.local/share/jupyter/runtime/kernel-ede891a6-fd80-46d9-8aa8-4682bb67e676.json

## 클래스

### 클래스 만들기

In [23]:
# 클래스 만드는 순서
# 1. 클래스를 어떻게 만들지 먼저 구성

# 2. 클래스 구조 만들기
# class Fourcal:
#   pass

# 3. 객체에 숫자 지정할 수 있게 만들기
#    메서드의 self 매개변수는 호추된 객체 a가 자동 전달
class FourCal:
  def setdata(self, first, second): # 메서드의 매개변수
    self.first = first  # 메서드의 수행문
    self.second = second  # 메서드의 수행문
    
  # 더하기 기능
  def add(self):
    result = self.first + self.second
    return result
  
  # 뺄셈 기능
  def sub(self):
    result = self.first - self.second
    return result

  # 곱하기 기능
  def mul(self):
    result = self.first * self.second
    return result

  # 나누기 기능
  def div(self):
    result = self.first / self.second
    return result

a = FourCal()
b = FourCal()

a.setdata(4, 2)
b.setdata(3, 8)

print(a.add())
print(a.sub())
print(a.mul())
print(a.div())

print(b.add())
print(b.sub())
print(b.mul())
print(b.div())

6
2
8
2.0
11
-5
24
0.375

### 생성자
: 객체가 생성될 때 자동으로 호출되는 메서드

In [26]:
# 초깃값을 설정해야 할 필요가 있을 때는 생성자 구현이 안전한 방법
# __init__ 사용
# 계산 클래스
class FourCal:
  def __init__(self, first, second): # 메서드의 매개변수
    self.first = first  # 메서드의 수행문
    self.second = second  # 메서드의 수행문

  def setdata(self, first, second): # 메서드의 매개변수
    self.first = first  # 메서드의 수행문
    self.second = second  # 메서드의 수행문
    
  # 더하기 기능
  def add(self):
    result = self.first + self.second
    return result
  
  # 뺄셈 기능
  def sub(self):
    result = self.first - self.second
    return result

  # 곱하기 기능
  def mul(self):
    result = self.first * self.second
    return result

  # 나누기 기능
  def div(self):
    result = self.first / self.second
    return result

a = FourCal(4,2)
print(a.first, a.second)
print(a.add())
print(a.sub())
print(a.mul())
print(a.div())

4 2
6
2
8
2.0

### 클래스의 상속

In [29]:
# FourCal 클래스를 상속하는 MoreFourCal 클래스 생성
class MoreFourCal(FourCal):
  def pow(self):
    result = self.first ** self.second
    return result

a = MoreFourCal(3, 4)
a.pow()

81

### 메서드 오버라이딩
: 동일 이름, 동일 수, 데이터 타입 매개변수 사용 시

In [30]:
# 0으로 나누면 0이 리턴되는 SafeFourCal 클래스 생성
class SafeFourCal(FourCal):
  def div(self):
    if self.second == 0:
      return 0
    else:
      return self.first / self.second

a = SafeFourCal(3, 0)
print(a.div())
print(a.add())

0
3

### 클래스 변수

In [34]:
class Family:
  lastname = "장"

a = Family()
b = Family()

print("a.lastname: ", a.lastname)
print("b.lastname: ", b.lastname)

Family.lastname = "김"
print("a.lastname: ", a.lastname)
print("b.lastname: ", b.lastname)

a.lastname = "최"
print("Family.lastname: ", Family.lastname)
print("a.lastname: ", a.lastname)
print("b.lastname: ", b.lastname)

a.lastname:  장
b.lastname:  장
a.lastname:  김
b.lastname:  김
Family.lastname:  김
a.lastname:  최
b.lastname:  김

## 모듈
: 함수나 변수 또는 클래스를 모아 놓은 파이썬 파일

### 모듈 만들기

In [35]:
# # mod1.py
# def add(a, b):
#     return a + b

# def sub(a, b): 
#     return a-b

### 모듈 불러오기

In [36]:
# import mod1
# print(mod1.add(3, 4))
# print(mod1.sub(4, 2))

In [37]:
# from mod1 import add, sub
# from mod1 import *
# add(3, 4)

### if_name_ == "_main_"

In [38]:
# # mod1.py 
# def add(a, b): 
#     return a+b

# def sub(a, b): 
#     return a-b

# print(add(1, 4))
# print(sub(4, 2))

In [39]:
# # 결과값
# import mod1
# 5
# 2

In [40]:
# 위와 같은 상황을 방지하기 위해서는 아래와 같이 작성
# # mod1.py 
# def add(a, b): 
#     return a+b

# def sub(a, b): 
#     return a-b

# if __name__ == "__main__":
#     print(add(1, 4))
#     print(sub(4, 2))

### 클래스나 변수 등을 포함한 모듈

In [41]:
# # mod2.py 
# PI = 3.141592

# class Math: 
#     def solv(self, r): 
#         return PI * (r ** 2) 

# def add(a, b): 
#     return a+b

In [42]:
# 다 사용 가능
# print(mod2.PI)
# a = mod2.Math()
# print(a.solv(2))
# print(mod2.add(mod2.PI, 4.4))

### 다른 파일에서 모듈 불러오기

In [43]:
# # modtest.py
# import mod2
# result = mod2.add(3, 4)
# print(result)

### 모듈을 불러오는 또 다른 방법

In [44]:
# # sys.path.append 사용하기
# import sys
# sys.path.append("C:/doit/mymod")

# import mod2
# print(mod2.add(3,4))

In [45]:
# # PYTHONPATH 환경 변수 사용하기
# C:\doit>set PYTHONPATH=C:\doit\mymod  # 맥이나 유닉스에서는 set대신 export 명령 사용
# C:\doit>python
# >>> import mod2
# >>> print(mod2.add(3,4))
# 7

## 패키지

In [ ]:
# 예시
# game/
#     __init__.py
#     sound/
#         __init__.py
#         echo.py
#         wav.py
#     graphic/
#         __init__.py
#         screen.py
#         render.py
#     play/
#         __init__.py
#         run.py
#         test.py

### 패키지 만들기

In [ ]:
# 명령 프롬프트에서 파이썬 인터프리터를 실행
# # 패키지 기본 구성요소 준비하기
# 1. 디렉터리 생성
# C:/doit/game/__init__.py
# C:/doit/game/sound/__init__.py
# C:/doit/game/sound/echo.py
# C:/doit/game/graphic/__init__.py
# C:/doit/game/graphic/render.py

# 2. 각 디렉터리에 __init__.py 파일을 만들어 놓기만 하고 내용은 일단 비워 둔다.

# 3. echo.py 파일은 다음과 같이 만든다.
# # echo.py
# def echo_test():
#     print("echo")

# 4. render.py 파일은 다음과 같이 만든다.
# # render.py
# def render_test():
#     print("render")

### 패키지 안의 함수 실행하기

In [ ]:
# # 첫번째
# import game.sound.echo
# game.sound.echo.echo_test()

# # 두번째
# from game.sound import echo
# echo.echo_test()

# # 세번째
# from game.sound.echo import echo_test
# echo_test()

### __init__.py 의 용도
: 해당 디렉터리가 패키지의 일부임을 알려줌

In [46]:
# # 패키지 변수 및 함수 정의
# # 공통 변수나 함수 정의 가능
# # C:/doit/game/__init__.py
# VERSION = 3.5

# def print_version_info():
#     print(f"The version of this game is {VERSION}.")

In [47]:
# 이렇게 사용 가능
# import game
# print(game.VERSION)

In [48]:
# # 패키지 내 모듈을 미리 import
# # C:/doit/game/__init__.py
# from .graphic.render import render_test

# VERSION = 3.5

# def print_version_info():
#     print(f"The version of this game is {VERSION}.")

In [49]:
# # 이렇게 사용 가능
# import game
# game.render_test()

In [50]:
# # 패이지 초기화
# # C:/doit/game/__init__.py
# from .graphic.render import render_test

# VERSION = 3.5

# def print_version_info():
#     print(f"The version of this game is {VERSION}.")

# # 여기에 패키지 초기화 코드를 작성한다.
# print("Initializing game ...")

In [51]:
# 이렇게 하면 패키지가 처음 import될 때 초기화 코드가 실행
# import game

In [ ]:
# # __all__
# # 디렉터리 모듈을 *을 사용하여 import할 때에는 __init__.py파일에 __all__변수를 설정하고 import할 수 있는 모듈을 정의해주어야 함.
# # C:/doit/game/sound/__init__.py
# __all__ = ['echo']

### Relative 패키지

In [52]:
# # render.py
# from ..sound.echo import echo_test

# def render_test():
#     print("render")
#     echo_test()